body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: pink;
}

.lessonPanel{
	width: 500px;
	border: solid;
	border-color: red;
}
.lessonPanel h2 a{
	color: red;

}

#sql .resultSection{
	padding: 0px;
	border: solid;
	border-color: grey;
}  
#sql #output{
	border: solid;
	border-color: lightblue;
	margin: 20px;
}
#sql #queryFormat{
	border: solid;
	border-color: black;
	margin: 20px;
}