body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: pink;
}

.lessonPanel{
	width: 500px;
	border: solid;
	border-color: red;
}
.lessonPanel h2 a{
	color: red;

}

#sql .resultSection{
	padding: 0px;
	border: solid;
	border-color: grey;
}  
#sql #output{
	border: solid;
	border-color: lightblue;
	margin: 20px;
}
#sql #queryFormat{
	border: solid;
	border-color: black;
	margin: 20px;
}

#messageBoard #actualMessage{
	border: solid;
	border-color: black;
	margin-left:auto;
	margin-right:auto;
	padding: 30px;
	width:500px;
}
#messageBoard #actualMessage .message{
	font-style: italic;
	color: lightblue;
}